@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #87a4b3, #363c41);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #87a4b3, #262b30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    z-index: 1;
}

html::before{
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #135e30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3f9252, #383838);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3f9252, #383838); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    z-index: -1;
    opacity: 0;
    transition: opacity 5s ease;
}

html.positive::before{
    opacity: 1;
}

html::after{
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #383838, #a01028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #383838, #a01028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    z-index: -1;
    opacity: 0;
    transition: opacity 5s linear;
}


html.negative::after{
    opacity: 1;
}