@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import './background-animations.scss';
@import './header.scss';
@import './modal.scss';
@import './search-bar.scss';
@import './body.scss';
@import './stock.scss';
@import './suggetion.scss';

body{
    overflow: auto;
    max-width: 1500px;
    margin: auto;
    padding: 0 30px;
}

body::-webkit-scrollbar{
    display: none;
}