.modal{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    .modal-background{
        opacity: 0;
        position: fixed;
        width: inherit;
        height: inherit;
        top: 0;
        right: 0;
        z-index: -1;
        background: rgba(255, 255, 255, 0.555);
        backdrop-filter: blur(5px);
        transition: opacity 0.5s ease;
    }

    .about-modal{
        opacity: 0;
        position: absolute;
        transform: translateX(50%) translateY(-50%);
        top: 50%;
        right: 50%;
        z-index: -1;
        height: 570px;
        width: 800px;
        background: rgb(49, 46, 46);
        color: white;
        transition: opacity 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        padding: 30px;
        font-family: 'Lato', sans-serif;

        div:first-of-type{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 140px;
            object{
                height: 160px;
            }
        }
        
        div:last-of-type{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                background-color: transparent;
                border: 1px solid white;
                border-radius: 0 10px 0 10px;
                padding: 10px 15px;
                color: white;
                font-family: 'Lato', sans-serif;
                font-size: 22px;
                transition: all 0.5s ease;
            }
            button:hover{
                cursor: pointer;
                color: black;
                background-color: white;
            }
            div{
                p{
                    padding-right: 10px;
                    font-size: 22px;
                    font-style: italic;
                }

                i{
                    padding: 0 10px;
                    color: white;
                    font-size: 30px;
                }
            }
            
        }
    }

    .modal-background.show{
        opacity: 1;
        z-index: 10;
        transition: opacity 0.5s ease;
    }
    
    .about-modal.show {
        opacity: 1;
        z-index: 11;
        transition: opacity 0.5s ease;
    }
}