.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    font-family:'Lato', sans-serif;

    .body-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 80%;
        
        .first-line{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            img{
                height: 50px;
                border-radius: 15px;
                padding: 5px;
            }
            h1{
                padding: 0 20px;
            }
            h3{
                font-size: 16px;
                font-style: italic;
            }
        }
        .second-line{
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: space-around;
            border-top: 1px solid white;
            div{
                width: 30%;
            }
        }
    }

    #chart{
        background: #0303032d;
        border-radius: 10px;
        color: rgb(168, 168, 168);   
        min-width: 80%;
        min-height: 400px;
    }
    .news{
        padding: 0;
        margin: 0;
    }
    #company-news{
        z-index: 2;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding:0;
        padding-left: 4%;
        li{
            list-style: none;
            width: 200px;
            background-color: rgba(8, 9, 48, 0.185);
            padding: 20px;
            margin: 10px;
            border-radius: 15px;
            font-family: 'Lato', sans-serif;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            animation: slide 2.5s ease;

            img{
                width: 100%;
            }
            h1{
                margin: 10px 0;
                font-size: 18px;
            }
            h3{
                margin: 0;
                font-style: italic;
                font-size: 14px;
                text-align: right;
            }
            transition: all 0.5s ease;
        }
        li:hover{
            cursor: pointer;
            background-color: rgba(8, 9, 48, 0.568);
            transform: scale(1.1);
        }
    }

    .under-chart{
        display: flex;
        justify-content: space-between;
        width: 77%;
        color: white;
        font-size: 18px;
        margin-top: 25px;
        #right{
            text-align: right;
        }

        #center{
            border-left: 1px solid white;
            border-right: 1px solid white;
            border-radius: 30px;
            padding: 0 7%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #top{
                text-align: center;
                h1{
                    font-size: 40px;
                    margin: 0;
                }
                p{
                    font-size: 14px;
                    font-style: italic;
                }
            }
            #bottom{
                span{
                    display: flex;
                    justify-content: space-between;
                    p{
                        margin: 10px 0;
                    }
                    p:last-of-type{
                        margin-left: 40px;
                    }
                }
                span:last-child{
                    text-align: right;
                }
            }
        }
    }
}

@keyframes slide{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    25%{
        transform: translateY(100px);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}